@model IEnumerable<ProyectoOL.Dtos.BookDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LoginUser.cshtml";
}
<div class="cuerpo_final">
    <center><h2 class="titulo_morado" style="padding-top: 2rem; padding-bottom:2rem;">Libros</h2></center>

    <table class="table table-secondary">
        <tr>
            <th>
                <center><h3 class="titulo_oscuro">Imágen</h3></center>
            </th>
            <th>
                <center><h3 class="titulo_oscuro">Información</h3></center>
            </th>
            <th>
                <center><h3 class="titulo_oscuro">Link</h3></center>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="imagen">
                    <img src="@item.Imagen" alt="Imagen_libro" class="libro" />
                </td>
                <td class="info">
                    <h5>Titulo: </h5>
                    @Html.DisplayFor(modelItem => item.Nombre_Libro)
                    <p></p>
                    <h5>Autor:</h5>
                    @Html.DisplayFor(modelItem => item.Autor)
                    <p></p>
                    <h5>Fecha de Publicación:</h5>
                    @Html.DisplayFor(modelItem => item.Fecha)
                    <p></p>
                    <h5>Género</h5>
                    @if(item.Fk_Genero == 1)
                    {
                        <p>Acción</p>
                    }else if (item.Fk_Genero == 2)
                    {
                        <p>Terror</p>
                    }else if (item.Fk_Genero == 6)
                    {
                        <p>Ingeniería</p>
                    }else if(item.Fk_Genero == 3)
                    {
                        <p>Romance</p>
                    }else if(item.Fk_Genero == 4)
                    {
                        <p>Comedia</p>
                    }else if(item.Fk_Genero == 5)
                    {
                        <p>Drama</p>
                    }else if(item.Fk_Genero == 7)
                    {
                        <p>Ciencias</p>
                    }
                    <p></p>
                    <h5>Sinópsis</h5>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td class="leer">

                    <center><a href="@item.Pdf" class="btn btn-primary move">Leer y Descargar</a></center>
                </td>
            </tr>
        }

    </table>
</div>