<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="tipo_contenido" content="text/html;" http-equiv="content-type" charset="utf-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OpenLibrary</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;600&family=Josefin+Sans:ital,wght@0,300;1,100;1,400&display=swap" rel="stylesheet" />
    <link href="~/Content/Reset.css" rel="stylesheet" />
    <link href="~/Content/HeaderStyle.css" rel="stylesheet" />
    <link href="~/Content/Index.css" rel="stylesheet" />
    <link href="~/Content/FootStyle.css" rel="stylesheet" />
    <link href="~/Content/RegisterN.css" rel="stylesheet" />
    <link href="~/Content/Login.css" rel="stylesheet" />
    <link href="~/Content/Books.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="icon" href="~/Views/Shared/Logo.ico" type="image/x-icon" />
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .btn-primary {
            background-color: #6768AB;
            border-color: #6768AB;
            text-decoration: none;
            font-family: Josefin Sans, italian;
            font-weight: 600;
        }

            .btn-primary:hover {
                background-color: #474776;
                border-color: #474776;
            }

        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .content {
            flex: 1;
        }
    </style>
</head>
<body class="wrapper">
    <header class="menu d-flex align-items-center justify-content-between">
        <div>
            <a href="@Url.Action("Index", "Librarian", new { area = "" })" class="logo">
                <img src="https://i.imgur.com/Ab8qnan.png" style="max-width: 250px; height: auto;" />
            </a>
        </div>
        <nav class="barra">
            <ul class="menu_login d-flex align-items-center list-unstyled">
                <li><a href="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-primary">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        @RenderBody()
    </div>

    <footer class="foot_container">
        <div class="foot_contact">
            <p>Encuéntranos en:</p>
            <div class="social-icons">
                <i class="fa-brands fa-square-facebook" style="color: #000000;"></i>
                <i class="fa-brands fa-square-x-twitter" style="color: #000000;"></i>
                <i class="fa-brands fa-square-instagram" style="color: #000000;"></i>
            </div>
        </div>
        <div class="copy">
            <p>Copyright© 2023</p>
        </div>
        <div>
            <a href="@Url.Action("Index", "Librarian", new { area = "" })" class="logo">
                <img src="https://i.imgur.com/Ab8qnan.png" style="max-width: 250px; height: auto;" />
            </a>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/912086e9de.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="<¿= BASE_URL?>assets/js/function.js"></script>
</body>
</html>
